# Python virtual environments
ml-model/venv/

# IDE files
.idea/
*.iml
.vscode/

# Compiled Java
backend/target/
*.class

# OS files
.DS_Store
# Python cache
__pycache__/
*.pyc
*.pkl
ml-model/priority_model.onnx
